<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="heading1" class="blue">
    <h1>Hello Everyone this is Snehal</h1>
</div>

<div id="content">
    <h2>
        <p>
            <span class="red"><span class="CenterThic fnt">L</span>orem</span> ipsum dolor sit amet, consectetur
            adipiscing elit. Cras vitae dolor non est rutrum mattis at nec metus. Duis luctus interdum odio, id eleifend
            turpis feugiat vitae. Vestibulum molestie non ante id ultricies. Nulla enim eros, pharetra ut dolor ut,
            condimentum porttitor est. Proin dictum erat nec ipsum dignissim varius. Nam sapien odio, rutrum ac
            imperdiet et, imperdiet sit amet justo. Proin volutpat, nulla sed congue molestie, elit purus dapibus massa,
            et dictum purus velit at ligula. Suspendisse interdum dictum posuere. Vivamus efficitur hendrerit sem, et
            porttitor turpis rhoncus sit amet.
        </p>
        <p>
            Cras sit amet lorem at sem cursus efficitur quis ac neque. Nulla metus urna, blandit ut suscipit eget,
            vulputate eu sem. In elementum magna vitae facilisis accumsan. Mauris quis diam eget sapien semper feugiat
            sed at nisl. Suspendisse felis metus, facilisis in est sed, ornare lobortis est. Curabitur non orci ornare,
            venenatis nisl finibus, consequat tortor. Cras scelerisque odio ac luctus fringilla. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
            Nam quis ultricies nisi. Vivamus vitae risus dui. Maecenas sit amet ante non nisi rutrum mollis sit amet vel
            elit. Nunc at metus velit. Quisque eu tortor nisi. Suspendisse id tellus et massa porta venenatis vitae sit
            amet orci. Mauris malesuada et dolor eu tempus. Vestibulum semper quam vel massa sodales placerat. Phasellus
            commodo dictum lacus, sit amet egestas leo porttitor ac.
        </p>
        <p>
            Nulla malesuada semper mi et porttitor. Duis rhoncus lorem leo, vel ullamcorper ipsum varius ut. Vestibulum
            a ultricies mi. Nullam porttitor nisi sit amet eros finibus, at consectetur lacus luctus. Nulla eleifend mi
            sit amet elit laoreet, ut elementum augue eleifend. Etiam vel leo lectus. Sed tempus elit quis est gravida
            tempor quis eu elit. Sed interdum dapibus imperdiet. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos. Morbi quis cursus tellus, vitae pulvinar justo. Proin eu nibh nisi.
            Donec venenatis consequat tincidunt. Mauris aliquet elementum congue.
        </p>
        <p>
            Nunc sollicitudin ullamcorper elit, dignissim cursus nibh iaculis sed. Maecenas ut enim at velit facilisis
            mollis at at eros. Ut sed odio malesuada, condimentum tortor a, convallis mi. Ut non nibh facilisis,
            consequat risus et, pulvinar lectus. Nunc semper, nunc sit amet tincidunt sodales, velit velit mattis elit,
            ut dignissim erat arcu sed neque. Pellentesque a volutpat quam, sit amet egestas dui. Mauris accumsan ac
            velit vitae pharetra. Quisque neque orci, ultrices ut dui eu, consequat faucibus diam. Maecenas sit amet
            risus mauris. Nam sit amet suscipit tellus. Pellentesque sit amet nunc mattis, fermentum odio eu, posuere
            justo.
        </p>
    </h2>
</div>
</body>
</html>
